/* Euro Jackpot Styles */
.jack-ball,.jack-euro{float:left;position:relative;text-align:center;font:bold 30px/55px Arial, Helvetica, sans serif;vertical-align:top;width:57px;height:71px;margin:0 0 0 5px;}
.jack-ball{background:url(../images/balls/ball-sprite-euro-jackpot.jpg) transparent 0 -76px no-repeat;color:#632300;padding:0;line-height:68px;}
.jack-euro{background:url(../images/balls/ball-sprite-euro-jackpot.jpg) transparent 0 0 no-repeat;color:#ffd119;padding-right:5px;line-height:66px; padding-left:0;}
.latest-result-euro,.result-euro{position:relative;float:left;background:url(../images/eurojackpot-results-box.jpg);width:697px;height:243px;margin:0 0 20px -4px;}
.latest-result-euro .stamp .title,.result-euro .stamp .title{color:#333;}
.latest-result-euro .button,.result-euro .button{float:right;margin:0 230px 0 0;}
.latest-result-euro .jackpot-amount span,.result-euro .jackpot-amount span{color:#d57106;}
#menu-euro{background:url(../images/ej-menu-bg.jpg) no-repeat; float:left;width:201px;border-radius:8px;margin-bottom:20px;border:3px solid #070503;}
#menu-euro .top{background:url(../images/h1-bg.jpg) no-repeat;width:191px;height:33px;border-radius:6px 6px 0 0;font-size:15px;font-weight:700;text-decoration:none;line-height:34px;padding-left:10px;color:#fff;}
#menu-euro ul{margin-bottom:10px;}
#menu-euro a:hover {color:#ffd10f!important;}
#menu-euro a {color:#fff!important;}
#menu-euro a.active{color:#ffd420 !important;}

.results-other {position:relative;background:url(../images/eurojackptot-bg.jpg) no-repeat;border-radius:8px;padding:10px;color:#333;width:500px;margin:0 auto 20px auto;}
.results-other .title {font-size:18px;color:#271a11; text-align:left;}
.results-other .jackpot {font-size:45px;font-weight:bold;line-height:46px;margin-bottom:10px;color:#271a11; text-align:left;}
.results-other .rollover-other {background:#fa9c38;padding:5px;border-radius:8px;margin:0 auto;width:400px;margin-bottom:20px;text-align:center;}
.result-euro .jackpot-title, .latest-result-euro .jackpot-title {color:#fff;}

.play-box {background:url(../images/eurojackptot-bg.jpg) no-repeat;}
.play-box .rollover-box {margin-top:15px;}
.play-box .jackpot {margin-top:30px; height:110px;}
.play-box .draw-date {color:#30210e;}
.play-box .amount {color:#30210e!important;}
.play-box ul {margin-top:45px;}
.play-box .button {margin-top:44px; background:#4d9eea;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d9eea), color-stop(50%,#458ed2), color-stop(51%,#2e79c6), color-stop(100%,#286aaf));background: -webkit-linear-gradient(top,  #4d9eea 0%,#458ed2 50%,#2e79c6 51%,#286aaf 100%);background: linear-gradient(to bottom,  #4d9eea 0%,#458ed2 50%,#2e79c6 51%,#286aaf 100%);color:#fff;border-bottom:solid 1px #104988;border-right:solid 1px #104988;}
.play-box .button:hover {background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffec83), color-stop(50%,#ffea6a), color-stop(51%,#ffd629), color-stop(100%,#e8be10));background: -webkit-linear-gradient(top,  #ffec83 0%,#ffea6a 50%,#ffd629 51%,#e8be10 100%);background: linear-gradient(to bottom,  #ffec83 0%,#ffea6a 50%,#ffd629 51%,#e8be10 100%);border-bottom:solid 1px #ddb610;border-right:solid 1px #ddb610; color:#333;}

.e-jackpot .resultB {background:#fff;}
.e-jackpot .resultB thead {background:url(../images/euro-jackpot-bg.jpg) repeat-x; color:#333;}
h1 {color:#fff;background:url(../images/h1-bg.jpg) no-repeat; }
h2,h3,h4, a {color:#0B0805;}
.more {color:#333!important; font-weight:700;}

.vs-img { margin:-9px 0 -12px;}
.tableComparison {margin:0 auto 20px; width:100%;}
.tableComparison thead th {padding:0;}
.tableComparison tbody {margin-top:-20px;}
.tableComparison th{text-align:center;font-weight:bold;}
.tableComparison td{text-align:center;}
.tableComparison span{font-size:10px;}
.prizes-table thead {background:#040605 url(../images/h1-bg.jpg) no-repeat top left; color:#fff;}
.prizes-table thead th {border-color:#6b4a20;}

.notificationBox img {margin-top:-3px;}