/* CSS Reset */
html,body,div,span,h1,h2,h3,p,img,ol,ul,li,form,table,tbody,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
body{line-height:1;}
ol,ul{list-style:none;}
table{border-spacing:0;}

/* Main Styles */
body{font:13px/21px rubik, arial, sans-serif;background:#fafafa;color:#515151;}
.container{position:relative;width:960px;margin:0 auto;}
.clear{clear:both;}
hr{border:none;border-bottom:1px solid #e6e6e6;margin-bottom:20px;clear:both;}
ol{list-style:decimal;margin-left:30px;}
ol li{margin-bottom:10px;}
ul{float:left;}
ul li{margin:0 0 20px 10px;background:url(../images/list-img.png) no-repeat 0 6px;padding-left:20px;}
.floatLeft{float:left}
.floatRight{float:right}
.blue{background:#bbdfff;padding:10px;float:left;margin-bottom:10px;border-radius:8px;}
.resultB .draw-date{text-align:left;width:100%;font-size:18px;padding:10px;}
.resultB .draw-number{text-align:right;font-size:18px;padding:10px;font-weight:400;white-space:nowrap;}
.resultB tr{border-bottom:1px solid #797979;}
.resultB .ordered{min-width:370px;}
.resultB .unordered{padding-left:135px;}
.resultB{margin-bottom:10px;}
.blue h1,.blue h2,.blue h3,.blue h4{border-bottom:none;}
.flexBox {display:flex;}
.resultB .ball,.resultB .lucky-star{padding:0;}
.on-page-center{margin:auto;}
.raffle-content{background: url("../images/template/millionaire-raffle-bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);color:#FFFFFF;font: bold 20px/28px rubik;height: 25px;letter-spacing: 3px;padding: 5px;text-align: center;width: 174px;border-radius:8px;display:inline-block;}
/* Typograhpy */
h1,h2,h3{font-family:rubik, arial, sans-serif;font-weight:500;margin-bottom:10px;color:#013c74;padding-bottom:5px;}
h1{position:relative;font-size:24px;line-height:26px;;padding:10px 0 10px 20px;color:#fff;width:710px;float:left;overflow:hidden;margin:-10px 0 0 -20px;background: #2b76c3;background: linear-gradient(to bottom, #2b76c3 0%,#08386c 100%);}
h2{font-size:22px;line-height:26px;}
h3{font-size:16px;line-height:20px;}
p{margin-bottom:20px;}
.top-paragraph{float:left;margin:10px 0;line-height:150%;}
a{color:#2768ab;}
a:hover{color:#d1ac11;}
.button,a.button{cursor:pointer;color:#333;background:#ffd10f;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffec83), color-stop(50%,#ffea6a), color-stop(51%,#ffd629), color-stop(100%,#e8be10));background: -webkit-linear-gradient(top,  #ffec83 0%,#ffea6a 50%,#ffd629 51%,#e8be10 100%);background: linear-gradient(to bottom,  #ffec83 0%,#ffea6a 50%,#ffd629 51%,#e8be10 100%);text-decoration:none;border-radius:8px;border-bottom:solid 1px #ddb610;border-right:solid 1px #ddb610;text-align:center;padding:6px 10px;font-weight:500;}
.button:hover,a.button:hover{background:#4d9eea;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d9eea), color-stop(50%,#458ed2), color-stop(51%,#2e79c6), color-stop(100%,#286aaf));background: -webkit-linear-gradient(top,  #4d9eea 0%,#458ed2 50%,#2e79c6 51%,#286aaf 100%);background: linear-gradient(to bottom,  #4d9eea 0%,#458ed2 50%,#2e79c6 51%,#286aaf 100%);color:#fff;border-bottom:solid 1px #104988;border-right:solid 1px #104988;}
.button:active a.button:active{border:none;border-left:solid 1px #ffd10f;border-top:solid 1px #ffd10f;}
.button-alt{background:#4d9eea;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d9eea), color-stop(50%,#458ed2), color-stop(51%,#2e79c6), color-stop(100%,#286aaf));background:-webkit-linear-gradient(top,  #4d9eea 0%,#458ed2 50%,#2e79c6 51%,#286aaf 100%);background:linear-gradient(to bottom,  #4d9eea 0%,#458ed2 50%,#2e79c6 51%,#286aaf 100%);color:#fff;border-bottom:solid 1px #104988;border-right:solid 1px #104988;text-align:center;padding:6px 10px;font-weight:500;border-radius:8px;text-decoration:none}
.button-alt:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffec83), color-stop(50%,#ffea6a), color-stop(51%,#ffd629), color-stop(100%,#e8be10));background:-webkit-linear-gradient(top,  #ffec83 0%,#ffea6a 50%,#ffd629 51%,#e8be10 100%);background:linear-gradient(to bottom,  #ffec83 0%,#ffea6a 50%,#ffd629 51%,#e8be10 100%);border-bottom:solid 1px #ddb610;border-right:solid 1px #ddb610;color:#333!important}
.multi-btns a {background:#0158a2; color:#fff; padding:6px; border-radius:5px; text-decoration:none; margin:0 10px 10px 0; display:inline-block; min-width:80px; text-align:center;}
.multi-btns a:hover {background:#ffd523;color:#333;} 
.centre{text-align:center;}
.Title2{font-size:22px;line-height:26px;margin-bottom:10px;color:#013c74;border-bottom:1px solid #f4f4f4;padding-bottom:5px;clear:both;}
.Title3{font-size:18px;line-height:20px;margin-bottom:8px;color:#013c74;padding-bottom:5px;}
.Title4{font-size:16px;line-height:20px;margin-bottom:8px;color:#013c74;padding-bottom:5px;}
.headerTitle{float:left;padding:0;margin:12px 0 2px 22px;position:relative;}
.blue .Title3{border-bottom:none;}
.block{position:relative;float:left;background:#0e53a0;padding:20px;font-size:18px;letter-spacing:-1px;color:#fff;border-left:5px solid #ffd10f;margin:0 0 20px;border-radius:8px;width:645px;}
.block p{margin-bottom:0;}
.block a{color:#fff;}
.block a:hover{color:#ffd10f;}
.block strong{color:#fff!important;}
.block .title{color:#ffd10f;font-size:24px;margin-bottom:10px;}
.block .link{float:left;font-size:12px;}
.blocklink{float:left;background:#f4f4f4;padding:10px 15px;border:1px solid #0e53a0;border-left:5px solid #0e53a0;margin-bottom:20px;color:#333;border-radius:8px;}
.feature-table thead{background: #2973bf!important;background: -webkit-linear-gradient(top,  #2973bf 1%,#08386c 100%)!important;background: linear-gradient(to bottom,  #2973bf 1%,#08386c 100%)!important;}
.sticky {position: fixed !important; top: 0 !important; width: 100% !important; left: 0 !important; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 0 !important; z-index: 99999;}
.centred{margin:auto !important;text-align:center !important}

/* IMAGES */
.imgL{float:left;margin:6px 8px 8px 0;}
.imgR{float:right;margin:6px 0 8px 8px;}
.fluidimg{margin-top:10px;border-radius:8px;}

/* Tables */
.table,.resultB,.main-news table{background:#f4f4f4;min-width:70%;margin:0 auto 20px;border:1px solid #e6e6e6;line-height:19px;}
.table{border-collapse:collapse;}
.table thead,.resultB thead,.main-news table thead, .raffle-list h2{background: #2973bf;background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2973bf), color-stop(100%,#08386c));background: linear-gradient(to bottom,  #2973bf 1%,#08386c 100%);color:#fff;}
.table th,.table td,.resultB th,.resultB td,.main-news table td{padding:8px;}
.table th,.resultB thead th,.main-news table th{font-size:14px;font-weight:500;}
.table th,.table2 td{padding:8px;}
.table .play-online{border-right:1px solid #5586cd;} 
.table tbody{letter-spacing:-0.5px;}
.table tbody td{background:#f4f4f4;border:1px solid #ececec;}
.table tbody th{border:1px solid #e6e6e6;background:#ececec;}
.table2{width:100%;}
.table2 thead{background: #ffec83;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffec83), color-stop(100%,#e8be10));background: linear-gradient(to bottom,  #ffec83 0%,#e8be10 100%);color:#333;}
.resultsTable th {font-size: 12px;}
.resultsTable sup {font-size: 10px;}
.resultsTable tr.dateRow th {background: #CCC;}
.resultsTable .date{text-align:center;}
.resultsTable .date span{font-weight:bold;}
.lefty{text-align:left !important;}
.centre {text-align:center !important;}
.nowrap {white-space: nowrap !important;}

/* Header */
#header-container{position:relative;background:#355ea7;margin-bottom:20px;width:100%;box-shadow:0 6px 10px 0 rgba(51,51,51,.35);min-width:1200px;}
header{position:relative;margin:0 auto;width:1200px;text-align:center}
#header-container .top {background:#26467c; display:inline-block; width:100%;min-width:1200px;}
#header-container .top .inner {width:1200px; margin:auto; text-align:right;}
#logo{display:inline-block;}
#logo img {width:240px;}
#breadcrumb{float:left;background:#f4f4f4;width:715px;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;padding:5px 0 4px 15px;margin:0 0 10px -21px}
#breadcrumb li{display:inline;background: url(../images/list-img.png) no-repeat 0 8px;padding-left: 20px;background-position: 2px 4px;background-size:12px 13px;}
#breadcrumb li:first-child {background:none;padding:0;}
.related{position:relative;float:right;background:url(../images/gradient-sprite.png) 0 -220px #18488d;padding:2px;border-radius:8px;color:#fff;padding:20px;width:690px;margin-bottom: 20px;}
.related h3{border-bottom:1px solid #1b72d0;color:#fff;margin-bottom:10px;}
.related h2{border-bottom:1px solid #1b72d0;color:#fff;margin-bottom:10px;}
.related ul{float:left;margin:0 35px 0 15px;width:96%;}
.related ul li{float:left;width:46%;margin:0 0 0 20px;padding-left:0;}
.related ul li a{float:left;background:url(../images/icon-sprite.png) no-repeat -4px -560px;color:#fff;padding-left:20px;margin-bottom:10px;}
.related ul li a:hover{color:#d1ac11;background-position:-4px -494px;}
.past{float:left;width:690px;}
.past ul.year{width:610px;background:url(../images/gradient-sprite.png) repeat-x scroll 0 -250px;padding:10px 20px;border-radius:5px;overflow:hidden;margin:0 auto;}
.past ul.year li{float:left;margin:0;background:none;padding:0;}
.past ul.year li a{background:#277eb6;border-radius:5px;color:#fff;float:left;font-size:24px;line-height:45px;margin:8px 10px;text-align:center;text-decoration:none;width:100px;border:1px solid #1b599e;}
.past ul.year li a:hover{background:#ffd10f;color:#333;}
.past ul.latest{float:left;width:690px;margin:0 0 20px;overflow:hidden;}
.past ul.latest li{margin-left:230px;line-height:36px;background:none;padding:0;}

/* LANGUAGE SWITCHER MENU */
.dropdown-box {position: relative;cursor: pointer;color: #fff;height: 31px;width: 120px;border-radius: 0 0 8px 8px; display:inline-block;z-index:99;}
.dropdown-box:after {background: url(../images/template/chevron.png) no-repeat 0 0;width: 14px;height: 7px;content: "";position: absolute;top: 12px;right: 15px;}
.dropdown-box:hover:after {background-position: 0 -13px;}
.dropdown-box li {position: relative;padding: 0 40px 0 20px;font-size: 12px;background: none;margin: 0;line-height: 32px;text-align: right;color: #fff;}
.dropdown-box li:hover {color:#f3d300;}
.dropdown-box li .dropdown {display: inline-block;width: 100%;height: 170px;position: absolute;left: 10px;top: 40px;opacity: 0;visibility: hidden;transition: all 0.25s ease 0.1s;}
.dropdown-box li .dropdown ul {display: block;position: absolute;left: 0;top: -20px;background: #fff;width: 100%;transition: all 0.25s ease 0.1s;border-radius: 5px;float: none;box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);}
.dropdown-box li .dropdown ul li {line-height: 28px;text-align: left;border-bottom: 1px solid #f4f4f4;padding: 5px 15px 5px 15px;}
.dropdown-box li .dropdown ul li:last-child {border-bottom: none;}
.dropdown-box li .dropdown ul li.grey {color: #aaa;cursor: auto;}
.dropdown-box li .dropdown ul:before {content: "";width: 0;height: 0;border-style: solid;border-width: 0 10px 10px 10px;border-color: transparent transparent #fff;position: absolute;top: -10px;left: 48px;}
.dropdown-box li .dropdown a {padding: 0 15px 0 0;position: relative;text-decoration: none;width: 100%;display: block;}
.dropdown-box:hover .dropdown {opacity: 1;visibility: visible;transition: all 0.25s ease 0.1s;top: -10px;}
.dropdown-box:hover .dropdown ul {top: 50px;transition: all 0.25s ease 0.1s;}
.dropdown-box > ul {float: none;height: 20px;min-width: 80px;text-align: left;}

/* Main Navigation */
nav{width:1200px; display:flex;margin-top:0; align-items:center;}
nav ul {float:none; display:flex; width:100%; margin-left:50px;}
nav li {display:flex; background:none;padding:0;margin:0;flex-grow:1; line-height:64px; align-items:center;border-right:1px solid #26467c; }
nav li:hover {box-shadow:inset 0 0 20px rgba(51,51,51,.5);transition:all 0.2s ease;}
nav li a {display:block;padding:20px; text-align:center; color:#fff; text-decoration:none;transition:all 0.2s ease; width:100%; line-height:1.2; font-weight:500;}
nav li a:hover {color:#fff;}
nav a.active {color:#FFD420;}
nav li:last-child {border-right:none;}
nav li.play a {background:#ffd10f;background:linear-gradient(to bottom, #ffec83 0%, #ffea6a 50%, #ffd629 51%, #e8be10 100%); color:#000;transition:all 0.2s ease;}
nav li.play a:hover, nav li.play a.active {box-shadow:inset 0 0 20px rgba(51,51,51,.5);transition:all 0.2s ease;}


/* Main Content */
#content{display:inline-block;position:relative;float:right;background:#fff;border:1px solid #e4e4e4;width:690px;min-height:580px;padding:10px 20px;margin-bottom:20px;}
.iphone-app-home{display:block!important;float:right;width:215px;height:203px;background:url(../images/home-app-top-zh.jpg) no-repeat;border-radius:8px;margin:0 0 0 20px;}
.iphone-app-home .button{float:left;margin:140px 0 0 110px;}
.tickets{background:url(../images/ticket-container.png) no-repeat scroll 0 0 transparent;height:97px;margin:0 auto 20px;overflow:hidden;width:500px;position:relative;}
.tickets img{float:left;margin:0px 0 0 5px;}
.tickets span{display:block;text-align:center;width:270px;margin:10px auto 1px auto;font-weight:700;font-size:14px;color:#000;}
#jackpot{position:relative;width:690px;float:left;margin:20px 0;background:url(../images/home-results-bg.png) repeat-y;border-radius:8px; display: flex; flex-wrap: wrap;}
.next-jackpot {flex: 1; border-radius: 0 8px 8px 0;}
.next-jackpot.pool {background: url(../images/jackpot-backgrounds/pool.jpg) no-repeat transparent;}
.next-jackpot.europe {background: url(../images/jackpot-backgrounds/europe.jpg) no-repeat transparent;}
.next-jackpot.confetti {background: url(../images/jackpot-backgrounds/confetti.jpg) no-repeat transparent;}
.next-jackpot.space {background: url(../images/jackpot-backgrounds/space.jpg) no-repeat transparent;}
.next-jackpot.island {background: url(../images/jackpot-backgrounds/island.jpg) no-repeat transparent;}
#jackpot p{font-size:13px;letter-spacing:0px;line-height:150%;margin-bottom:10px}
#jackpot .results{position:relative;float:left;width:280px;padding:13px 20px; min-height: 290px;}
#jackpot .ticker-closed{float:left;background:url(../images/tickets-closed-home.png) no-repeat;width:342px;height:116px;margin:10px 0 15px 13px;padding:0!important}
#jackpot .ticker-closed .title{width:175px!important;margin:10px 0 0 90px!important;font-weight:400!important;text-align:left!important}
#jackpot .ticker-closed .title span{font-weight:700;font-size:16px}
#jackpot .ticker-closed .play-button{float:right;margin:30px 5px 0 0}
#jackpot .results h2,#jackpot .results h3{border-bottom:none}
#jackpot h2{margin:0}
#jackpot .results a:hover{color:#333}
#jackpot .latest-results{background: #9dd1ff; padding:6px 8px;text-align:center;border-radius:8px}
#jackpot .latest-results .date{color:#002950}
#jackpot .results .title{color:#002950;font-size:14px;font-weight:700}
#jackpot .results .button{margin:10px 0;}
#jackpot .results a.button:hover{color:#fff}
.next-jackpot{position:relative;float:left;width:370px}
#jackpot .next-jackpot .logo{position:absolute;background:url(../images/icon-sprite.png) no-repeat -213px -292px;width:287px;height:47px;left:50px;top:-20px;color:#fff;font-weight:700;font-size:22px;text-align:center;text-transform:uppercase;line-height:24px;padding-top:20px}
.rollover-box{float:left;margin:0 4%;color:#fff;text-align:center;font-size:18px;width:92%}
.ticker{position:relative;float:left;background:#ef3e2c;width:342px;margin:10px 0 15px 14px;border-radius:5px;overflow:hidden}
.ticker-title{font-size:24px;font-weight:700;text-transform:uppercase;float:right;color:#fff;margin:20px 10px 0 0}
.ticker img{float:left}
#jackpot .ticker .title{float:left;color:#fff;text-transform:uppercase;font-size:33px}
#jackpot .ticker .time{float:left;color:#ef3e2c;margin:64px 0 0 83px}
#jackpot .ticker .time li{display:inline;float:left;font-size:24px;margin-left:6px;width:38px;text-align:center}
#jackpot .ticker .play-button{float:right;margin:10px 6px 0 0}
#jackpot .next-jackpot p{color:#fff;width:80%;margin:20px auto 0}
#jackpot .next-jackpot p a{color:#fff;font-weight:700}
#jackpot p a:hover{color:#ffd10f}

#counters{display:block;position:relative;height:42px;float:left;margin:56px 0 0 85px;}
.ticket-counter .counter-inner,#jackpot .counter-inner{position:relative;width:40px;height:42px;float:left;font:22px/38px rubik, arial, sans-serif;text-align:center;margin:0 2px;color:#ef3e2c;font-weight:700;}
.notificationBox{position:relative;background:url(../images/gradient-sprite.png) repeat-x 0 -230px;width:90%;border:1px solid #104885;padding:5px 10px;font-size:12px;color:#fff;border-radius:14px;margin:10px auto;clear:both;}
.notificationBox a{color:#fff;}
.notificationBox a:hover{color:#d1ac11;}
.notificationBox img{float:left;margin-right:10px;}
.notificationBox p, .notifyYellow p{margin-bottom:0;}
.notifyGrey{background:#f4f4f4;color:#515151;border:1px solid #AAA;padding:5px 10px;font-size:12px;border-radius:14px;}
.notifyYellow{background:#ffec83;background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffec83),color-stop(100%,#e8be10));background:linear-gradient(to bottom,#ffec83 0%,#e8be10 100%);color:#333;border-radius:8px;padding:10px 10px;overflow:hidden;color:#000;margin-bottom:20px;}

/* App Section (Home) */
.app-home{display:flex;background:#26467c;width:650px;height:282px;margin-bottom:15px;color:#fff; position:relative; border-radius:8px; padding:20px; align-items:center;}
.app-home * {box-sizing:border-box;}
.app-home .title{line-height:24px; font-size:20px; margin-bottom:15px;}
.app-home .elem2 {display:inline-block; margin:0;}
.app-home ul{display:inline-block; margin-bottom:10px;}
.app-home ul li{float:left;background:url(../images/icon-sprite.png) no-repeat -6px -495px;clear:both;padding-left:20px;margin-bottom:8px;width:280px}
.app-button-android{float:left;margin:20px 0 0 10px}
.app-home .ctaBox {display:flex; clear:both; align-items:center;}
.app-home .ctaBox img {width:100px; border-radius:4px;}
.app-home .ctaBox div {margin:0 5px;}
.app-home .code {position:absolute; right:20px; bottom:20px; width:80px;}
.app-home .button {display:inline-block;}


/* Side Bar */
#menu-container {float: left; width: 207px;}
#menu, #menu-container .european {width:201px;background:url(../images/horizontal-gradient-sprite.png) repeat-y;margin-bottom:20px;border:3px solid #25619e;}
#menu-container .top {background:url(../images/icon-sprite.png) no-repeat -288px -713px;width:201px;height:33px;border-radius:6px 6px 0 0;}
#menu-container .casino .top {background: none;}
#menu .top, .casino .top, .menu-top, #menu-container .european .top{font-size:15px;color:#fff;font-weight:700;text-decoration:none;line-height:34px;padding-left:10px;text-shadow:1px 1px 2px #333;}
#menu-container ul{float: none !important;}
#menu-container ul li {background: none; position: relative; padding: 0; margin: 0; z-index: 9;}
#menu-container ul li a {background:url(../images/icon-sprite.png) -1px -557px no-repeat; position: relative; color: #FFF; padding-left: 30px; text-decoration: none; line-height: 32px; display: block; transition: .2s background-color ease-in-out; overflow: hidden;}
#menu-container ul li a:hover, #menu-container li.hovered > a {background-color: #03366D;}
#menu-container .active {background-color: transparent; background-position: -1px -491px; color: #FFD420 !important; text-shadow: #333 1px 1px 0;}

#menu li.home a {background-position: 8px -1570px;} 
#menu li.home a.active {background-position: 8px -1610px;}
#menu li.results a {background-position: 5px -851px;}
#menu li.results a.active {background-position: 5px -1171px;}
#menu li.help a {background-position: 5px -891px;}
#menu li.help a.active {background-position: 5px -1211px;}
#menu li.news a {background-position: 5px -932px;}
#menu li.news a.active {background-position: 5px -1252px;}
#menu li.statistics a {background-position: 5px -972px;}
#menu li.statistics a.active {background-position: 5px -1292px;}
#menu li.prizes a {background-position: 5px -1012px;}
#menu li.prizes a.active {background-position: 5px -1332px;}
#menu li.random a {background-position: 5px -1051px;}
#menu li.random a.active {background-position: 5px -1371px;}
#menu li.info a {background-position: 5px -1090px;}
#menu li.info a.active {background-position: 5px -1410px;}
#menu li.tix a {background-position: 5px -1130px;}
#menu li.tix a.active {background-position: 5px -1450px;}

#menu-container li.sub a:after {content:''; position: absolute; background: url(../images/icon-sprite.png) transparent no-repeat -480px -863px; right: 6px; top: 11px; width: 11px; height: 11px; z-index: 9;}
#menu-container ul.subMenu {background: #03366D; position: absolute; left: 201px; z-index: 9; top: 0;width: 0; opacity: 0; transition: all .2s ease-out .1s; -webkit-transition: all .2s ease-out .1s; overflow: hidden;}
#menu-container ul.subMenu li a {background: #03366D; position: relative; margin-left: 2px; width: 180px; line-height: 16px; padding: 8px 0 8px 20px; z-index: 9;}
#menu-container ul.subMenu li:first-child a {margin-top: 2px;}
#menu-container ul.subMenu li:last-child a {margin-bottom: 2px;}
#menu-container ul.subMenu li a:after {display: none;}
#menu-container li.expanded a:after {background-position: -477px -903px; right: 10px;}
#menu-container ul.subMenu li a:hover {background: #2570BE; color: #FFF;}
#menu-container a:hover ~ .subMenu, .subMenu:hover {width: 204px !important; opacity: 1 !important;}

#menu-container ul.expanded {background: #215FA0; position: relative; opacity: 1; width: 201px; border-radius: 0 !important; left: 0; top: 0; padding: 6px 0; box-shadow: inset #000 0 0 24px -8px; -webkit-box-shadow: inset #000 0 0 24px -8px; margin-bottom: 0;}
#menu-container ul.expanded a {background: url(../images/icon-sprite.png) transparent 20px -1493px no-repeat !important; font-size: 12px; border-radius: 0 !important; line-height: 16px !important; padding: 4px 0 4px 36px !important; width: 163px !important;}
#menu-container ul.expanded a:hover {background-color: #03366D !important;}
#menu-container ul.expanded a.active {background-position:  20px -1533px !important;}

#menu-container .european {clear: both;}
#menu-container .european .top {background-position: -217px -713px; width: 191px;}
#menu-container .european li:last-child > a {border-radius: 0 0 0 6px;}

.search {margin: 10px 0 6px; clear: both;}
form#cse-search-box-left{color:#FCE356;display:block;font-weight:700;width:188px;margin:0 0 0 7px;position:relative;height:32px;overflow:hidden;}
input#search-box{float:left;width:176px;position:relative;font-size:14px;border-radius:8px;height:18px;padding:5px;border:1px solid #FFF;outline:none;}
input#search-box:focus{border-radius:8px;border:1px solid #FC0;box-shadow:inset 0 0 2px 0 #6d6d6d;-webkit-transition:all 5ms ease-in-out;-moz-transition:all 5ms ease-in-out;-ms-transition:all 5ms ease-in-out;-o-transition:all 5ms ease-in-out;transition:all 5ms ease-in-out;}
form#cse-search-box-left #go-button{background:url(../images/icon-sprite.png) -461px -250px;text-align:center;width:26px;height:30px;line-height:18px;margin:0;padding:0;position:absolute;right:0;border:1px solid #125094;border-top-right-radius:5px;border-bottom-right-radius:5px;color:#fff;cursor:pointer;text-indent:200px;overflow:hidden;}
form#cse-search-box-left #go-button:hover{background-position:-461px -217px;color:#333;border:1px solid #c6a310;}

.casino{position:relative;float:left;width:201px;background:url(../images/icon-sprite.png) -250px 0 #a543d2;width:201px; height: 70px;border-radius:8px;margin-bottom:20px;border:3px solid #842daf; text-align: center;}
.casino .desktop{position:relative;float:left;height:122px;width:201px;}
.casino .top{line-height:32px; margin-bottom: 10px;text-align: left;}
.casino .mobile span{float:right;font-size:14px;font-weight:700;color:#fff;text-align:center;letter-spacing:-1px;width:120px;margin:20px 10px 0 0;}
.casino .desktop .button{position:absolute;bottom:15px;right:15px;padding:2px 6px;font-size:10px;}
.casino .mobile a.button{float:left;margin:10px 0 0 73px;padding:2px 6px;font-size:10px;}
.appBox {display:inline-block; width:182px; height:410px;position:relative;margin:0 0 10px;overflow:hidden; text-align:center; padding:15px 10px; color:#fff;background: rgb(37,97,158);background: linear-gradient(90deg, rgba(37,97,158,1) 0%, rgba(48,131,216,1) 100%);border:3px solid #25619e;}
.appBox * {box-sizing:border-box;}
.appBox .title {font-size:21px; text-transform:uppercase; margin-bottom:10px; font-weight:500;}
.appBox p {text-transform:uppercase;}
.appBox .slideOne {position:absolute; top:0; left:0; transform:rotate(40deg) translate(45px,300px); width:105px; transition:all ease .2s;}
.appBox .slideTwo {position:absolute; top:0; right:0; transform:rotate(40deg) translate(85px,-145px);width:105px; transition:all ease .2s;}
.appBox .slideThree {position:absolute; top:275px; left:35px; width:90px;transform:rotate(40deg) scale(.001); transition:all ease .2s;}
.appBox .button {position:absolute;bottom:15px;left:50%;transform:translateX(-50%); width:90%;}

.appBox .slideOne.slideActive {transform:rotate(40deg) translate(45px,100px); transition:all ease .2s;}
.appBox .slideTwo.slideActive {transform:rotate(40deg) translate(85px,45px); transition:all ease .2s;}
.appBox .slideThree.slideActive {transform:rotate(40deg) scale(1); transition:all ease .2s;}
.menu-casino {float:left;background:url(../images/casino-montage.jpg) no-repeat;border:3px solid #69238b!important;width:201px;border-radius:8px;margin-bottom:20px;height:300px;text-align: center;}
.menu-casino .top {width: 201px; height: 33px;border-radius:6px 6px 0 0;background:none!important;text-align: left;}
.menu-casino .top {background:url(../images/icon-sprite-fr.png) no-repeat -30px 0; width: 201px; height: 33px;border-radius:6px 6px 0 0;font-size:15px;color:#fff;font-weight:bold;text-decoration:none;line-height:34px;padding-left:10px;text-shadow: 1px 1px 2px #333;}
.menu-casino .button {display: inline-block; *display: inline; zoom: 1; margin:200px auto 21px;border: 3px solid #69238B !important;}
#menu .alert {background-color:#ff4743;}
#menu-container ul li.alert a:hover, #menu-container ul li.alert.hovered > a, #menu-container li.alert ul.subMenu, #menu-container li.alert ul.subMenu a {background-color:#fa3728!important;}
#menu-container li.alert ul.subMenu.expanded a {background:none!important;}
#menu-container li.alert ul.subMenu a:hover {background:#e4312d!important;}

/* Footer */
footer{background:url(../images/gradient-sprite.png) repeat-x 0 -693px #032b50;color:#fff;min-width:1200px;clear: both;}
footer .logoBox {display:inline-block; margin-top:40px;}
footer .logo img {width:200px; display:inline-block;}
footer .top,footer .middle,footer .bottom{float:left;width:960px;margin:0 0 10px;overflow:hidden;}
footer .middle{border-bottom:1px solid #29537b;padding-bottom:20px;}
.copyright-info{float:left;width:400px;}
.copyright-info strong{color:#fff;}
#footer{position:relative;width:960px;margin:0 auto;overflow: hidden;padding-bottom: 30px;}
#footer .social{float:right;margin:40px 0 0;background:#084c8d;padding:8px 10px 5px 0px;border-radius:8px; width:160px}
#footer .social span{float:left;margin:2px 10px 0 0;line-height:16px;font-weight:700;width:110px;}
#footer .social ul {float:right;background:url(../images/icon-sprite.png) no-repeat -213px -411px;}
#footer .social ul li{float:left;}
#footer .facebook a,#footer .twitter a,#footer .instagram a{float:left;width:42px;height:42px;margin-left:10px}
#footer .facebook a:hover,#footer .twitter a:hover,#footer .instagram a:hover{border-radius:5px;background-color:#fff;opacity:0.3}
.column{float:left;width:230px;color:#fff;margin:20px 10px 0 0;}
.column .title{font-size:16px;margin-bottom:20px;letter-spacing:-.6px;color:#ffd10f;font-weight:700;}
#footer .button{background:#ffd10f;float:left;width:600px;margin:0 0 20px 170px;font-size:45px;}
.column a{display:block;background:url(../images/icon-sprite.png) no-repeat -6px -96px;padding-left:25px;line-height:30px;font-size:14px;text-decoration:none;color:#fff;}
.column a:hover{color:#ffd10f;}
footer .lower{float:left;margin-top:10px;clear:both;width:100%;}
footer .lower p{font-size:12px;line-height:16px;color:#5f98c9;}
footer .lower a{color:#fff;}
footer .lower a:hover{color:#ffd10f;}

/* NEWS */
ul.news-archives{float:left;margin:10px 0 0 15px;}
ul.news-archives li{background:url(../images/list-img.png) no-repeat 0 2px;padding-left:20px;margin-bottom:5px;}

/* PRIZES */
.prizes-table{background:#f4f4f4;margin-bottom:20px;border:1px solid #dbdbdb;border-left:none;border-bottom:none;}
.prizes-table thead{background:#0B4687;color:#fff;font-size:10px;}
.prizes-table thead th{padding:4px;border:1px solid #f4f4f4;border-right:none;line-height:16px;}
.prizes-table tbody td{border:1px solid #dbdbdb;font-size:10px;padding:4px;border-right:none;border-top:none;}

/* BALLS */
.ballStyleSmall{background-repeat:no-repeat;height:26px;width:26px;text-align:center;line-height:26px;padding:0;margin:0;font-weight:700;font-size:12px;color:#FFF;}
.ball,.lucky-star, .bonus-ball, .jolly, .superstar, .super-ball,.reintegro{float:left;position:relative;width:55px;height:58px;text-align:center;font:bold 30px/55px rubik, arial, sans serif;color:#FFF;padding:0;vertical-align:top;margin:0 0 0 5px;}
td.ball,.ball{background:url(../images/balls/ball-sprite.png) transparent 0 0 no-repeat;}
td.ball.spin{background-image:url(../images/spinning-ball.gif);}
td.lucky-star,.lucky-star{background:url(../images/balls/ball-sprite.png) transparent 0 -58px no-repeat;color:#000;}
td.lucky-star.spin{background:url(../images/spinning-star.gif) transparent 0 0 no-repeat;}
.ball.new {background: none;width:51px;height:51px;text-align:center;font:normal 30px/51px rubik,sans serif; border: 3px solid #18488d;float:none; display: inline-block;border-radius: 50%;color: #18488d;}
.ball.new.solid {background: #18488d; color: #FFF;}
.ball.new.white {border-color: #FFF; color: #FFF;}
.lucky-star.new{background:url(../images/balls/star.svg) transparent no-repeat;background-size:100%;color:#333; width:56px;height:56px;float:none; display: inline-block;font-weight:normal;line-height:56px;}
ul.balls.small {width: auto; margin: auto; display: flex; justify-content: center; float: none;}
ul.balls.small .ball.new {width: 25px; height: 25px; border-width: 2px; font: 16px/25px rubik, sans-serif; margin-right: -2px;}
ul.balls.small .ball.new:last-child {margin-right: 0;}
ul.balls.small .lucky-star.new {width: 30px; height: 30px; font: 16px/30px rubik, sans-serif; margin-right: -2px;}
.ball.new.stats {width: 36px; height: 36px; border-width: 2px; font: 20px/36px rubik, sans-serif; margin: 2px;}
.lucky-star.new.stats {width: 40px; height: 40px; font: 20px/40px rubik, sans-serif; margin: 2px;}
.ball.first-ball:before, .ball.last-ball:before, .lucky-star.first-star:before, .lucky-star.last-star:before  {content: ''; position: absolute; top: 40%; right: -8px; width: 8px; height: 6px; background: #18488d; z-index: 1;}
.lucky-star.first-star:before, .lucky-star.last-star:before {top: 44%;}
.ball.last-ball:before, .lucky-star.last-star:before {right: auto; left: -8px;}
.lucky-star.first-star, .lucky-star.last-star {background-color: #18488d; border-radius: 50%;}
.ball.disabled {border-color: #CCC !important; color: #CCC !important;}
.lucky-star.disabled {background-image: url(../images/balls/star-disabled.svg); color: #EEE;}
.ball img.move {position:relative;top:-3px;left:-3px;}

/* RANDOM NUMBERS */
#GeneratedResult{margin-bottom:10px;}
.tableR{border:4px solid #e4e4e4;min-width:60%;margin:0 auto;padding:10px;border-radius:8px;}
.tableR thead{background:url(../images/gradient-sprite.png) repeat-x 0 -220px;padding:0 10px;font-size:14px;color:#fff;line-height:30px;}
.generate-box{color:#fff;position:relative;width:500px;background:#2b72ba;padding:8px 10px;margin:0 auto;}

/* STATISTICS */
table.statistics-main{background:#f4f4f4;padding:15px;border:1px solid #dbdbdb;width:580px;margin:0 auto 10px;}
table.stats{background:#f4f4f4;border-top:1px solid #dbdbdb;border-left:1px solid #dbdbdb;margin-left:6px;line-height:16px;}
.no-padding{padding:0!important;}
.no{margin-right:190px!important;}
.white-bg td{padding:0;}
table.stats th{padding:10px;font-weight:700;background:#0b4687;color:#fff;}
table.stats td{min-width:76px;padding:2px;text-align:center;}
table.stats tr td,table.stats tr th{border-right:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;}
.statistics-main span{clear:both;display:block;font-weight:700;text-align:center;}
.share{background:url(../images/stats-social-bg.png) no-repeat;overflow:hidden;margin:0 auto 10px;width:380px;height:27px;padding:6px 10px 5px 7px;}
.share .title{float:left;font-size:12px;color:#fff;text-align:center;line-height:16px;font-weight:700;margin:0 15px 0 0;padding-top:3px}
.lower-stats{width:520px;margin:0 auto;}
.lower-stats .title{font-size:16px;font-weight:700;padding-bottom:10px;}
.lower-stats .sub-title{font-size:14px;font-weight:700;padding-bottom:10px;}
.stats-lower{border:1px solid #dddddd;padding:8px;background:#f4f4f4;}
.stats-lower td{float:none;text-align:center;}
.hover{padding:10px;width:75px;text-align:center;}
.hover span{text-align:center;font-weight:700;line-height:14px;display:block;}
.table-wider{width:90%;margin:0 auto;}

/* FAQ */
.answer{padding:20px;border:1px solid #f4f4f4;margin-bottom:20px;display:inline-block; box-sizing:border-box;width:100%; border-left:3px solid #2b76c3;}
.answer * {box-sizing:border-box;}
.answer .title {font-size:16px; margin-bottom:10px; display:inline-block;}
.answer p:last-child {margin-bottom:0;}
.faqMenu {display:inline-block;margin-bottom:10px;}
.faqMenu .btn {background: #355ea7;font-weight: normal; border-radius: 3px; padding: 10px 16px; transition: .2s all ease-in-out; text-decoration:none; color: #FFF; margin: 10px 2px; display: inline-block;}
.faqMenu .btn:hover {background: #FC0; color: #333;}
.table tbody td,.table tbody th{border:1px solid #d8d8d8}
.faqTitle {background: #26467C; position: relative; color: #FFF; padding: 10px; display: inline-block;}
.faqTitle:after {content: ""; background: #26467C; position: absolute; width: 16px; height: 16px; transform: rotate(45deg); bottom: -8px; left: 46%;}

/* CASINO */
.old-casino-box a{float:right;margin:15px 20px 0 0;border:none;}
.old-casino-box a:hover{border:none;}
.casino-para-top{float:left;width:485px;}

/* RESULTS CHECKER */
.ticketChecker .ball,.ticketChecker a:hover.ball,.ticketChecker .ballSelected,.ticketChecker a:hover.ballSelected,.ticketChecker .ballDisabled,.ticketChecker a:hover.ballDisabled,.ticketChecker .lucky-star,.ticketChecker a:hover.lucky-star,.ticketChecker .lucky-starSelected,.ticketChecker a:hover.lucky-starSelected,.ticketChecker .lucky-starDisabled,.ticketChecker a:hover.lucky-starDisabled{display:block;width:35px;height:37px;text-align:center;font:bold 14px/37px rubik;margin:0 2px;padding:0;color:#000;text-decoration:none;background:url(../images/balls/checker-sprite.png) no-repeat;border-bottom:none;}
.ticketChecker td{padding:8px;height:30px;}
.ticketChecker .ball,.ticketChecker a:hover.ball,.archive-ball .ball{background-position:0 0;}
.ticketChecker .ballSelected,.ticketChecker a:hover.ballSelected{background-position:0 -148px;}
.ticketChecker .ballDisabled,.ticketChecker a:hover.ballDisabled{background-position:0 -74px;}
.ticketChecker .lucky-star,.ticketChecker a:hover.lucky-star{background-position:0 -37px;}
.ticketChecker .lucky-starSelected,.ticketChecker a:hover.lucky-starSelected{background-position:0 -185px;}
.ticketChecker .lucky-starDisabled,.ticketChecker a:hover.lucky-starDisabled{background-position:0 -111px;}
.checker-head span{font-weight:700;font-size:18px;color:#333;}
.checker-main{background:#f4f4f4;width:560px;border:1px solid #dbdbdb;border-radius:8px 8px 0 0;margin:20px auto 0;}
.results-checker-lower{width:540px;padding:10px;margin:0 auto 20px;background:url(../images/gradient-sprite.png) repeat-x 0 -220px;border-radius:0 0 8px 8px;border:1px solid #dbdbdb;border-top:none;overflow:hidden;}
.results-checker-lower table{width:100%;text-align:center;}
.results-checker-lower .half{width:50%;}
.checker-main .title{background:url(../images/gradient-sprite.png) repeat-x 0 -90px;font-size:14px;padding:8px;color:#fff;margin-bottom:10px;text-align:center;font-weight:700;border-radius:8px 8px 0 0;}
#reset_checker{float:left;font-size:18px;}
#submit_checker{float:right;font-size:18px;}
#remainingBalls{width:100%;margin:10px auto;font-size:16px;font-weight:700;color:#ffd10f;text-align:center;}
.include-tuesday{width:520px;float:left;color:#fff;padding:10px;}
.include-tuesday .title{float:left;text-align:center;margin:10px auto;}
.results-checker-lower .right-side{float:right;width:180px;margin:10px 0 0 20px;}
#SwitchText{float:left;color:#fff;}
#SwitchImage{float:left;margin:0 10px 0 50px;}
#SwitchText:hover{color:#ffd10f;}
.results-other{position:relative;background:#18488d;border-radius:8px;padding:10px;color:#fff;width:400px;margin:0 auto 20px auto;}
.results-other .title{text-align:center;color:#fff;font-size:18px;}
.results-other .jackpot{font-size:45px;color:#ffde20;font-weight:700;text-align:center;line-height:46px;margin-bottom:10px;}
.results-other .rollover-other{background:#215fb8;color:#fff;padding:5px;border-radius:8px;margin:0 auto;width:300px;margin-bottom:10px;text-align:center;}
.results-other .last-jackpot{font-weight:700;font-size:24px;}
.buy-tickets a.button{line-height:40px;}
.social-other{float:left;margin-left:120px;}

.checker-buy{background:#ff452e;border-radius:8px;padding:15px;color:#fff;font-weight:700;overflow:hidden;margin-bottom:20px;}
.checker-buy span{display:block;float:left;width:500px;margin-top:8px;font:18px/22px rubik, arial,sans-serif;}
.checker-buy .button{float:right;font-size:18px;text-align:center;padding:10px 20px;width:100px;}

/* ARCHIVES */
.archives{position:relative;float:left;width:450px;background:#f4f4f4;margin-bottom:20px;padding:5px;border-radius:8px;border:4px double #FFF;border-spacing:4px;overflow:hidden;}
.archives .title{float:left;font-size:14px;margin:0 0 5px 5px;}
.archives .title span{font-size:18px;font-weight:700;}
.archives ul.balls.small {justify-content: flex-end;}
.archives .millionaire-raffle{float:right;background:url(../images/icon-sprite.png) no-repeat -181px -786px;width:245px;height:22px;color:#fff;margin:5px;border-radius:5px;}
.archives .millionaire-raffle .title{line-height:20px!important;margin:0 0 0 3px!important;}
.archives .millionaire-raffle .raffle{font-weight:700;letter-spacing:1px;font-size:14px;text-align:center;}
.archives-links{background:#18488d;color:#FFF;float:right;padding:10px;width:180px;border-radius:8px;}
.archives-links ul.year li a{background:#3770ac;border-radius:5px;color:#fff;float:left;font-size:24px;line-height:45px;margin:10px 5px;text-align:center;text-decoration:none;width:80px;}
.archives-links ul.year li{float:left;background:none;padding:0;margin:0;}
.archives-links ul.latest{float:none;}
.archives-links ul.latest li{float:none;margin:0;padding:0;background:none;}
.archives-links ul.year li a:hover,.archives-links .active{background:#ffd10f!important;color:#333!important;}
.archives-links .button{float:left;margin-top:10px;width:160px;}
.archives .millionaire-raffle-mini{background-position:0 0;}
.archives .raffle-mini-holder{margin-bottom:16px;float:left;clear:both;}

/* RAFFLE */
.raffle-checker{padding:10px;height:127px;background:url(../images/raffle-checker-bg.jpg) transparent no-repeat;width:80%;margin:10px auto;}
.raffle-checker .title{float:left;margin:10px 0 10px 30px;color:#fff;width:100%;font-size:14px;font-weight:700;}
#form_raffle{overflow:hidden;padding:8px;margin:0;}
#RaffleNumber{border:1px solid #AAA;position:relative;width:200px;font-size:22px;line-height:30px;height:30px;margin:0 0 0 90px;text-align:center;outline:none;padding:3px;float:left;display:inline;border-radius:10px;top:3px;}
#submit_raffle{position:relative;width:210px;height:48px;text-align:center;border:none;float:left;font:bold 16px/38px rubik;color:#333;margin-left:5px;cursor:pointer!important;background:url(../images/button-trans.png) transparent no-repeat;}
#RaffleResponse{position:relative;background-color:#006;overflow:hidden;width:420px;height:30px;text-indent:10px;font-size:12px;border-radius:10px;left:90px;clear:both;color:#FFF;line-height:30px;display:none;}
html > body #RaffleResponse{background-color:rgba(10,10,80,0.7);}
.answers-list li{overflow:visible;}
.answers-list .active{color:#333;}
.answers-list .active span{color:#fff;}

/* RAFFLE STYLING */
.raffle{margin:0 0 15px 0;width:300px;float:left;border-radius:10px;background: #0078cd;background: -moz-linear-gradient(top,#0078cd 3%,#1e5799 100%);background:-webkit-linear-gradient(top,#0078cd 3%,#1e5799 100%);background:linear-gradient(to bottom,#0078cd 3%,#1e5799 100%);display:table;}
.raffle .box{font-size:20px;font-weight:bold;letter-spacing:4px;text-align:center;color:#FFF;position:relative;display:table-cell; padding:5px; vertical-align:middle;}
.raffle .box:before {content:""; position:absolute; top:40%; left:0;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 5px;border-color: transparent transparent transparent #1c91e5;}
.raffle .title{font-size:12px;color:#fff;background:#1c91e5;text-align:center;display:table-cell; padding:5px;vertical-align:middle;letter-spacing:0;}

/* MILLIONAIRE RAFFLE */
.millionaire-raffle-mini{background:url(../images/template/millionaire-raffle-bg-mini.png) transparent no-repeat;width:125px;height:18px;font:bold 15px/18px rubik;letter-spacing:1px;text-align:center;margin:6px;color:#FFF;}
.table td.codes-box {display: flex; justify-content: space-around; align-items: flex-start; flex-wrap: wrap; padding: 15px; box-sizing: border-box;}
.codes-box .flag-code {position: relative;padding: 8px; padding-left: 40px; box-sizing: border-box; width: 160px; margin: 5px; letter-spacing: 1px; border-radius: 4px; background: #bbdfff; color: #18488d; border: 1px solid #18488d; font-size: 15px; font-weight: bold;}
.codes-box .flag-code:before {content:""; background: url(../images/languages-sprite.png) #bbdfff no-repeat; width: 30px; height: 23px; position: absolute;  top: 7px; left: 5px;}
.codes-box .flag-code.uk:before {background-position: -9px -10px;}
.codes-box .flag-code.spain:before {background-position: -9px -410px; }
.codes-box .flag-code.france:before {background-position: -9px -110px;}
.codes-box .flag-code.belg:before {background-position: -9px -1108px;}
.codes-box .flag-code.aus:before {background-position: -9px -1208px;}
.codes-box .flag-code.lux:before {background-position: -9px -1308px;}
.codes-box .flag-code.port:before {background-position: -9px -310px;}
.codes-box .flag-code.switz:before {background-position: -9px -1008px;}
.codes-box .flag-code.ire:before {background-position: -9px -1408px;}

/* BUY TICKETS */
table.buy-tickets{width:70%;margin:0 auto 20px;background:#f4f4f4;padding:10px;border:1px solid #dbdbdb;}

/* RESULTS */
.ticket-counter{position:relative;float:left;background:url(../images/results-counter-zh.gif) no-repeat;width:691px;height:126px;margin-bottom:20px;}
.ticket-counter #counters{float:left;margin:14px 0 0 326px;}
.ticket-counter #counters .counter-inner{margin-left:0;width:47px;height:40px;font-size:24px;}
.ticket-counter .play-button{float:left;margin:15px 0 0 10px;}
.results-next-jackpot{float:left;position:relative;color:#fff;margin:-5px 0 0 100px;}
.results-next-jackpot .title{float:left;font-size:20px;font-weight:700;margin:25px 0 0;letter-spacing:-1px;}
.results-next-jackpot .jackpot-amount{float:left;font-size:36px;line-height:36px;font-weight:700;margin:15px 0 0 10px;color:#ffd10f;letter-spacing:-1px;}
.latest-result{position:relative;float:left;background:url(../images/results-bg.jpg);width:697px;height:243px;margin:0 0 40px -4px;}
.past-result{position:relative;float:left;background:url(../images/past-results-bg.jpg);width:697px;height:182px;margin:0 0 20px -4px;}
.past-result .right-section{position:absolute;width:184px;padding:10px;right:0;top:10px;text-align:center;color:#fff;height:140px;}
.latest-result .date,.result .date,.draw-in-progress .date,.past-result .date,.latest-result-euro .date,.result-euro .date{float:left;font-size:14px;color:#1d1c1c;font-weight:700;margin:10px 0 0 20px;}
.latest-result .checking{position:absolute;right:10px;top:25px;width:170px;font-size:18px;color:#fff;letter-spacing:-1px;}
.latest-result .magnifying-glass{position:absolute;background:url(../images/magnifying-glass.png) no-repeat;width:160px;height:106px;right:10px;top:90px;}
.result .date span,.latest-result .date span,.draw-in-progress .date span,.past-result .date span,.result-euro .date span,.latest-result-euro .date span{font-size:30px;line-height:34px;}
ul.balls{float:left;overflow:hidden;margin:2px 0 20px 15px;width:650px;}
ul.jack-balls{float:left;overflow:hidden;margin:2px 0 10px 15px;width:650px;}
.latest-result .millionaire-raffle,.result .millionaire-raffle,.past-result .millionaire-raffle{float:left;background:url(../images/icon-sprite.png) no-repeat -181px -783px;width:295px;height:29px;margin:0 0 0 20px;border-radius:8px;}
.latest-result .raffle,.result .raffle,.past-result .raffle{float:right;width:166px;height:25px;font:bold 20px/25px rubik;letter-spacing:5px;text-align:center;margin:2px 2px 2px 4px;color:#FFF;}
.latest-result .millionaire-raffle .title,.result .millionaire-raffle .title,.past-result .millionaire-raffle .title,.archives .millionaire-raffle .title{float:left;font-size:13px;color:#fff;margin:0 0 0 6px;line-height:28px;}
.latest-result .button,.result .button,.past-result .button,.latest-result-euro .button,.result-euro .button{float:left;padding:3px 8px 4px;margin-left:10px;font-size:14px;}
.latest-result .jackpot-title,.result .jackpot-title,.latest-result-euro .jackpot-title,.result-euro .jackpot-title{clear:both;float:left;font-size:20px;font-weight:700;width:126px;text-align:center;color:#fff;margin:42px 0 0 5px;}
.latest-result .jackpot-amount,.draw-in-progress .jackpot-amount,.latest-result-euro .jackpot-amount{float:left;font-size:28px;font-weight:700;color:#1D1C1C;margin:36px 0 0 30px;line-height:34px;}
.past-result .jackpot-amount{font-size:16px;font-weight:700;}
.past-result .jackpot-amount span{color:#FFD10F;}
.latest-result .social{float:right;margin:45px 10px 0 0;}
.latest-result #button,.result #button{float:left;}
.latest-result .stamp,.result .stamp,.latest-result-euro .stamp,.result-euro .stamp{background:url(../images/stamp.png) no-repeat;}
.result{position:relative;float:left;background:url(../images/results-bg-small.png);width:697px;height:243px;margin-bottom:20px;}
.result .jackpot-amount,.result-euro .jackpot-amount{float:left;font-size:23px;font-weight:700;color:#333;margin:35px 0 0 38px;line-height:36px;}
.jackpot-amount span{color:#3e80ca;}
.latest-result .stamp,.result .stamp,.latest-result-euro .stamp,.result-euro .stamp{background:url(../images/stamp.png) no-repeat;position:absolute;top:20px;right:20px;width:146px;height:150px;}
.latest-result .stamp .title,.result .stamp .title,.latest-result-euro .stamp .title,.result-euro .stamp .title{float:left;color:#ffd10f;font-weight:700;width:100px;font-size:20px;text-align:center;margin:35px 0 0 25px;  text-align: center;}
.past-result .stamp .title{color:#FFD10F;font-size:14px;font-weight:700;margin-bottom:20px;}
.latest-result .stamp .title span,.result .stamp .title span,.latest-result-euro .stamp .title span,.result-euro .stamp .title span{font-size:30px;}
.latest-result .stamp .more,.result .stamp .more,.latest-result-euro .stamp .more,.result-euro .stamp .more{float:left;color:#fff;font-size:13px;text-align:center;margin:30px 0 0 26px;width: 96px;}
.past-result .stamp .more{position:absolute;bottom:0;left:40px;background:url(../images/icon-sprite.png) no-repeat -430px -645px;width:120px;height:55px;}
.ticket-help{position:relative;float:left;background:url(../images/ticket-help.jpg) no-repeat;width:679px;height:178px;margin:0 0 20px 2px;}
.ticket-help .button{float:left;margin:91px 0 0 240px;}
.multi-millionaire{float:left;font-size:16px;width:300px;margin:-10px 0 0 20px;color:#1D1C1C;}
.arrow{position:absolute;background:url(../images/arrow.png) no-repeat;width:60px;height:24px;left:260px;top:140px;}
.euromillions-plus{float:left;margin-left:15px;width:305px;}
.euromillions-plus .title{font-size:13px;font-weight:700;color:#18488d;float:left;line-height:32px;}
.euromillions-plus .balls{float:left;width:180px!important;margin:0;}
.euromillions-plus .ball{background:url(../images/balls/euro-ball.png) no-repeat!important;height:32px!important;width:31px!important;text-align:center!important;font-size:18px!important;line-height:32px!important;color:#18488d!important;}
.euromillions-plus span{line-height:34px;margin-left:10px!important;display:block;font-size:12px;width:170px;float:left;}
.euromillions-plus-result{width:295px;margin:0 auto 10px;overflow:hidden;background:#054078;border-radius:8px;padding:10px;border:1px solid #dbdbdb;}
.euromillions-plus-result .balls{float:left;width:100%;margin:0;}
.euromillions-plus-result .ball{background:url(../images/balls/euro-ball-big.png) no-repeat;height:55px;width:53px;text-align:center;font-size:24px;line-height:55px;color:#18488d;}
.resultB .euromillions-plus .button{float:left;}
.archives .euromillions-plus{float:right;margin-left:10px;width:310px;}
.archives .euromillions-plus .title{font-size:12px;line-height:40px;font-weight:normal;margin-left:20px;}
table.resultB ul{margin-bottom:0;}

/* BEFORE DRAW */
.draw-counter{float:left;background:url(../images/results-counter-yellow-zh.gif) no-repeat;width:688px;height:96px;margin:10px 10px 20px 0;}
.draw-counter .message{font-size:16px;float:left;margin:15px 0 0 110px;color:#333;letter-spacing:-1px;font-weight:700;}
.draw-counter .results-next-jackpot{margin:0 0 0 100px;}
.draw-counter .title{color:#333;font-size:16px;margin:8px 0 0 10px;}
.draw-counter .jackpot-amount{color:#EF3E2C;font-size:24px;margin:0 0 0 5px;}
.draw-counter .more{float:right;margin:5px 22px 0 0;font-size:18px;font-weight:700;color:#333;}
.draw-counter .info{float:left;color:#333;width:400px;margin:0 0 0 100px;font-size:18px;letter-spacing:-1px;}
.draw-counter #counters{float:right;margin:-13px 13px 0 0;}
.draw-counter .counter-inner{position:relative;width:45px;height:39px;float:left;font:22px/38px rubik, arial, sans-serif;text-align:center;margin:0 3px;color:#333;font-weight:700;}
.no-countdown{background:url(../images/tickets-closed.png) no-repeat;width:668px;height:76px;padding:10px;}
.no-countdown .play-button{float:right;margin:10px 5px 0 0;}
.no-countdown .title{float:left;font-size:15px;color:#333;margin:7px 0 0 95px;font-weight:700;}
.no-countdown span{font-size:23px;line-height:23px;}
ul.balls-clear{float:left;margin:5px 0 15px 10px;}
ul.balls-clear li{float:left;background:url(../images/icon-sprite.png) no-repeat -430px -427px;width:61px;height:61px;margin-left:5px;font:bold 26px/61px rubik, arial, sans-serif;color:#333;text-align:center;position:relative;}
ul.balls-clear li.lucky-star-empty{background-position:-430px -504px;top:-4px;line-height:68px;width:63px;}

/* BEFORE DRAW WITH ALERT */
.draw-in-progress{position:relative;float:left;background:url(../images/before-draw-box.png);width:697px;height:243px;margin:0 0 20px -4px;color:#333;}
.draw-in-progress .social{float:right;margin:20px 20px 0 0;}
.draw-in-progress .alert-box{position:relative;float:left;background:url(../images/draw-in-progress.gif) no-repeat;width:624px;height:105px;margin:10px 0 10px 35px;}
.draw-in-progress .title{float:left;font-size:22px;font-weight:700;color:#EF3E2C;line-height:28px;margin:17px 0 0 120px;}
.draw-in-progress .info{float:left;width:450px;line-height:18px;margin-left:120px;}
.draw-in-progress .jackpot-title{float:left;font-size:20px;font-weight:700;width:126px;text-align:center;color:#fff;margin:30px 0 0 5px;clear:both;}
.draw-in-progress .jackpot-amount{margin-top:23px;}
.draw-in-progress .machine{float:right;margin:-10px 45px 0 0;}

/* RESULTS BREAKDOWN */
.resultB .millionaire-raffle{background:url(../images/icon-sprite.png) no-repeat -181px -780px;margin:0 0 15px 0;padding:0 5px;height:35px;overflow:hidden;width:300px;float:left;border-radius:10px;}
.resultB .raffle{float:left;font:bold 23px/22px rubik;letter-spacing:4px;text-align:center;margin:0 2px 0 15px;color:#FFF;}
.resultB .millionaire-raffle .title{float:left;font-size:12px;color:#fff;line-height:34px;margin-left:3px;}
.resultB .share{float:right;background:#c5c6c7;border-radius:8px;width:320px;padding:6px 8px 0 8px;}
.resultB .share .title{margin:0;width:45px;color:#333;}
.resultB .share #content .twitter{margin-left:5px;}
.no-raffle{background:none!important;}
.button-breakdown{float:right;cursor:pointer;}
.multi-millionaire-breakdown{float:left;}
.multi-millionaire-breakdown table{width:580px;margin:0 auto 20px;}
.multi-millionaire-breakdown table td{background:url(../images/template/millionaire-raffle-bg.png) transparent no-repeat center;width:174px;height:25px;font:bold 20px/25px rubik;letter-spacing:3px;text-align:center;color:#FFF;margin-bottom:10px;line-height:35px;padding:0px;}
.resultB .multi .share{margin-right:170px!important;}
.prev-left{float:left;margin-bottom:20px;}
.prev-right{float:right;}
a.appiPhone{outline:none;display:block;width:132px;height:45px;margin:2px 0 3px;padding:0;text-indent:-9999px;position:relative;background:transparent url(../images/app-pages/app-btn-sprite.png) 0 0 no-repeat;border:none;text-decoration:none;}
a.appiPhone:hover{background-position:-132px 0;border:none;text-decoration:none;}
a.appAndroid{outline:none;display:block;width:132px;height:45px;margin:0 0 4px;padding:0;text-indent:-9999px;position:relative;background:transparent url(../images/app-pages/app-btn-sprite.png) 0 -52px no-repeat;border:none;text-decoration:none;}
a.appAndroid:hover{background-position:-132px -52px;border:none;text-decoration:none;}
.raffleCodeBox {text-align:center; padding: 10px 0;}
.twoCol{width:48%}

/* OTHER LANGUAGES */
.buy-tickets a.button{line-height:40px;}
.social-other{float:left;margin-left:120px;}
.winners td{border-bottom:1px solid #e3e3e3;padding:8px;}
.winners th{padding:5px;}
.winners .total{font-weight:700;font-size:16px;color:#333;}

/* NEW CASINO.ASP PAGE MARCH 2013 */
.promoBoxLarge {background: url(../images/casino/casino-promo-box.png) transparent no-repeat; position: relative; width: 629px; height: 251px; margin: auto; padding: 0; overflow: hidden;}
a.promoButtonWide {background: url(../images/casino/casino-promo-button-wider.png) transparent no-repeat;position: absolute;left: 0;bottom: 0;width: 240px;height: 68px;font: bold 18px rubik, arial, sans-serif;line-height: 64px;text-shadow: black 0 3px 2px;color: #FFF;text-decoration: none;text-indent: 40px;border: none;z-index: 99;
}
a.promoButtonWide:hover {background-position: 0 -69px; color: #FFF; border: none;}
a.promoButtonWide.joinNow {top: 130px; left: 52px;}
.gameOfTheMonth {position: absolute; top: 44px; right: 50px; width: 240px; height: 154px;}
.gameOfTheMonth img {display: block; margin: auto; position: relative; top: 3px;}
.megaJackpot {position: absolute; bottom: 4px; right: 70px;}
.full-width {width:96%;}
.mobile-casino {width:670px;margin:10px 0 20px 0;}
.mobile-casino .block {width:620px;}

/* List items */
.related ul{float:left;margin:0 35px 0 15px;}
.related ul li{float:left;width:46%;margin:0 0 0 20px; padding-left:0;}
.past ul.latest{float:left;width:690px;margin:0 0 20px;overflow:hidden;}
.past ul.latest li{margin:0 0 0 230px;line-height:36px; padding:0; background:0;}
.past ul.year{width:610px;background:url(../images/gradient-sprite.png) repeat-x scroll 0 -250px;padding:10px 20px;border-radius:5px;overflow:hidden;margin:0 auto;}
.past ul.year li{float:left; margin:0; padding:0; background:0;}
.archives-links ul.year li{float:left; background:none; padding:0; margin:0;}
.archives-links ul.latest {float:none;}
.archives-links ul.latest li {float:none; margin:0; padding:0; background:none;}
#menu-container ul li {padding:0; margin:0; background:none;}
#footer .social ul {float:right;background:url(../images/icon-sprite.png) no-repeat -213px -411px; margin:0;}
#footer .social ul li{float:left; margin:0; padding:0; background:none;}
.column li {margin:0; padding:0; background:none;}
ul.balls{float:left;overflow:hidden;margin:2px 0 20px 15px;width:650px;}
ul.balls li {margin:0 0 0 5px; padding:0;}
ul.balls-clear{float:left;margin:5px 0 15px 10px;}
ul.balls-clear li{float:left;background:url(../images/icon-sprite.png) no-repeat -430px -427px;width:61px;height:61px;margin:0 0 0 5px;font:bold 26px/61px rubik, arial, sans-serif;color:#333;text-align:center;position:relative; padding:0;}
table.resultB ul {margin-bottom:0;}

/* INFORMATION */
.box-full,.box-half,.box-third{border-radius:8px;border:1px solid #e1e1e1;margin-left:20px;padding:10px 20px 0;background:#f4f4f4;background:-moz-linear-gradient(top,#ffffff 0%,#f4f4f4 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f4f4f4));background:-webkit-linear-gradient(top,#ffffff 0%,#f4f4f4 100%);background:-o-linear-gradient(top,#ffffff 0%,#f4f4f4 100%);background:linear-gradient(to bottom,#ffffff 0%,#f4f4f4 100%);}
.box-full{position:relative;clear:both;margin:0 0 20px;}	 
.box-full ul{float:left;margin-bottom:0;}
.box-full ul li{float:left;background:url(../images/icon-sprite.png) no-repeat -7px -636px;padding-left:20px;margin-bottom:10px;clear:both;width:580px;}
.box-full ul li a{font-size:16px;color:#333;text-decoration:none;}
.box-full ul li a:hover{color:#d1ac11}
.box-half{position:relative;width:293px;float:left;margin-bottom:20px;overflow:hidden;}
.box-half h2{font-size:20px;}
.box-half h2 a:before,.box-third h2 a:before, .box-full h2 a:before{content:" ";position:absolute;top:0;left:0;width:100%;height:100%;}
.box-third{position:relative;float:left;width:174px;margin-bottom:20px;}
.box-third h2{font-size:18px;}
.button-info{width:340px;background:url(../images/gradient-sprite.png) repeat-x 0 -1226px;height:12px;color:#fff;font-weight:700;text-decoration:none;padding:10px;clear:both;margin:10px auto 0;display:block;font-size:16px;border-radius:8px;line-height:12px;text-align:center;}
.button-info:hover{background-position:0 -184px;color:#333;}			
.link:hover{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.3s ease-in-out;background:#2a74c1;}
.link h2{background:url(../images/icon-sprite.png) no-repeat -7px -635px;padding-left:20px;z-index:2;}
.link a{position:static;color:#013c74;text-decoration:none;cursor:pointer;}
.link:hover h2{color:#fff;background-position:-8px -493px;text-decoration:underline;z-index:2;-webkit-transition:color 0.5s ease-in-out;-moz-transition:color 0.5s ease-in-out;-ms-transition:color 0.5s ease-in-out;-o-transition:color 0.5s ease-in-out;transition:color 0.3s ease-in-out;}
.link:hover a{color:#fff;text-decoration:underline;-webkit-transition:color 0.5s ease-in-out;-moz-transition:color 0.5s ease-in-out;-ms-transition:color 0.5s ease-in-out;-o-transition:color 0.5s ease-in-out;transition:color 0.3s ease-in-out;}
.link:hover p{color:#fff;-webkit-transition:color 0.5s ease-in-out;-moz-transition:color 0.5s ease-in-out;-ms-transition:color 0.5s ease-in-out;-o-transition:color 0.5s ease-in-out;transition:color 0.3s ease-in-out;}
.box-wrapper{height:100%;width:100%;display:table;table-layout:fixed;border-spacing:10px;}
.box-row{clear:both;}
.box-row div:first-child{margin-left:0;}
.box-half img{margin:-10px 0 0 -20px;border-radius: 8px 8px 0 0;width:333px;height:110px;}
.h-info{position:relative;background:url(../images/gradient-sprite.png) 0 -1226px;padding:10px 0 10px 20px;color:#fff;width:710px;float:left;overflow:hidden;margin:0 0 20px -20px;font-size:22px;font-weight:700;line-height:26px;}
.corner-img{float:right;border-radius:12px;margin:0 0 10px 10px;border:5px solid #f4f4f4;}

/* HOW TO PLAY */
.buttons-big{text-align:center;font-size:16px;padding:10px 20px;}
.options{overflow:hidden;border:1px solid #dbdbdb;margin:0 0 20px 0;border-bottom:1px solid #e3e3e3;padding:40px 50px;background:#e5e5e5;background:-webkit-gradient(linear,left top,right top,color-stop(0%,#e5e5e5),color-stop(100%,#f4f4f4));background:-webkit-linear-gradient(left,#e5e5e5 0%,#f4f4f4 100%);background:linear-gradient(to right,#e5e5e5 0%,#f4f4f4 100%);border-radius:8px;overflow:hidden;}
.options ol{list-style-position:outside;list-style-type:decimal;}
.options ol li{font-size:30px;position:relative;margin-left:24px;margin-bottom:30px;}
.options ol li span{font-size:13px;}
.options-small{padding:20px 25px;}
.options-small ol span,.options-small p{font-size:12px!important;}
.options-small ol li{font-size:20px;margin-bottom:0px!important;}
.options-small .button{height:25px!important;line-height:25px!important;top:-5px!important;}
.options-small .button span{font-size:10px!important;}
.options-small .small-note{margin-top:-20px!important;}
.options-small .button-big{padding-top:8px!important;top:-8px!important;}
.options .small-note{display:block;background:#d9d9d9;padding:5px;font-size:10px;line-height:16px;border-radius:8px;}
.options .button-normal{position:relative!important;display:block;margin:20px auto 0;font-size:18px;width:400px!important;height:auto!important;line-height:normal!important;padding:8px 0;}
.options .button{height:40px;width:220px;position:absolute;line-height:20px;top:-15px; padding: 10px;}
.options .button:hover{background:#1361b8;}
.options .button:hover span{color:#fff;}
.options .button-big{left:290px;line-height:16px!important;width:270px;padding: 10px 0;height:38px;top:-15px;}
.options .extra{position:absolute;left:250px;top:0;background:#18488d;padding:4px;color:#fff;border-radius:8px;width:28px;text-align:center;}
.big-exp-box{display:none;}
.x-box p{font-size:12px;cursor:pointer;color:#2768ab;text-decoration:underline;margin-bottom:0;}
.play-online{width:270px;}

/* PLAY NOW */
.play-box{position:relative;margin:10px auto;width:630px;background:url(../images/template/play-box.jpg) no-repeat;overflow:hidden;height:364px;color:#fff;font-weight:700;padding:15px 30px 0;letter-spacing:-0.8px;}
.play-box .title{font-size:24px;text-align:center;margin-bottom:20px;}
.play-box .jackpot{float:left;clear:left;margin:20px 0 25px;width:390px;}
.play-box .jackpot .title{float:left;font-size:16px;margin-bottom:0;color:#333;}
.play-box .jackpot .amount{float:left;font-size:42px;clear:both;text-align:center;margin:5px 0 5px;width:380px;color:#013C74;line-height:40px;}
.play-box .jackpot .amount span{font-size:42px;}
.play-box .jackpot .rollover-box{float:right;text-align:right;font-size:16px;color:#333;}
.play-box .jackpot .rollover-box span{font-weight:700;font-size:18px;}
.play-box .button{width:160px;height:61px;display:block;font-size:18px;text-align:center;padding-top:12px;line-height:20px;float:right;margin-top:44px;}
.play-box .countdown{float:left;background:url(../images/template/counters-small-zh.gif) no-repeat;width:422px;height:80px;border-radius:10px; overflow:hidden;}
.play-box .draw-date{float:left;font-size:20px;text-align:center;margin:55px 0 0 58px;width:180px;}
.play-box .draw-date span{font-size:24px;}
.play-box ul{float:left;clear:both;margin-top:50px;width:100%;}
.play-box ul li{background:url(../images/list-img.png) no-repeat 0 6px;float:left;padding-left:23px;margin-left:55px;}
.play-box ul li:first-child{margin-left:0;}
.play-box ul li a{text-decoration:none;font-size:15px;line-height:24px;}
.play-box ul li a:hover{color:#d1ac11;}
.play-box #counters{margin:18px 0 0 198px;}
.play-box .counter-inner{width:34px;height:34px;display:block;line-height:34px;text-align:center;float:left;margin-left:7px;color:#ef3e2c;font-size:18px;}
.ticker-closed{float:left;background:#ff452e;color:#fff;font-weight:700;width:349px;height:62px;border-radius:10px;padding:18px 10px 0 20px;font-size:13px;}
.ticker-closed span{font-size:18px;float:left;}

.other-jackpots{float:left;clear:both;font-weight:700;background:url(../images/template/map.jpg) no-repeat;width:689px;height:506px;letter-spacing:-0.6px;margin-bottom:10px;}
.other-jackpots .col{width:215px;height:96px;float:left;margin:9px 258px 29px 0;}
.ire-box, .euromillions-box{margin: 9px 52px 29px 103px!important;}
.uk-box, .de-box, .it-box, .eurojackpot-box{margin-right:0!important;float:right;}
.other-jackpots .col .title{font-size:12px;color:#fff;width:115px;float:left;margin:0 0 15px 65px;text-align:center;}
.other-jackpots .col .jackpot{font-size:24px;margin-bottom:5px;color:#013C74;clear:both;text-align:center;}
.other-jackpots .col a{float:left;margin-left:10px;}
.other-jackpots .col .button{height:12px;line-height:12px;float:right;margin:0 10px 0 0;}

/* How to Spend Pages */
.image-container{position:relative;float:left;border-bottom: 1px solid #e6e6e6;margin-bottom:15px;width:100%;}
.image-container img{float:left;margin:0 15px 15px 0;border-radius:8px;}
.image-container .Title4{font-weight:700;}

/* HOTPICKS COUNTDOWN BANNER */
.countdown-hotpicks {background: #2552ad; background-size: 690px 130px; margin-bottom: 20px; width: 100%; border-radius:8px;}
.countdown-hotpicks ul {float: none; display: flex; align-items: center; justify-content: space-around; height: 90px; width: 70%; margin: 0 auto;}
.countdown-hotpicks ul li {background: none; color: white; padding-left:0; margin:0 0 20px 0; display: flex; flex-direction: column; align-items: center; justify-content: center; font-weight: bold; font-size: 18px;}
.countdown-hotpicks ul li span{font-size: 40px; margin-bottom: 10px;}
.countdown-hotpicks h2{text-align: center; color: white; padding-top: 20px;}

/* PARTICIPATING COUNTRIES */
#euro-countries {clear: both; }
.euro-country {margin-bottom: 20px; background: #5a88b9; overflow: hidden; border-radius: 10px; box-shadow: 0 5px 30px rgba(0,0,0,.25); }
.euro-country ._fl {flex: 0 0 200px; position: relative; overflow: hidden; }
.euro-country ._fl img {position: absolute; height: 100%; top:50%; left:50%; transition: transform .2s ease-in-out; transform: translate(-50%, -50%); }
.euro-country:hover ._fl img {transform: translate(-50%, -50%) scale(1.1); }
.euro-country ._content {flex: 1 0 0; padding: 20px; color: #fff; }
.euro-country h2 {display: -ms-flex; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; color: #fff; background: #08386c; background: linear-gradient(135deg, #08386c 0%,rgba(30,87,153,1) 100%);padding: 10px;}
.euro-country img {width: 55px;border-radius: 5px; margin-right: 10px;} 
.euro-country ul {float: none; }
.euro-country li {background: url(../images/list-euro.svg) no-repeat 0/17px; margin: 5px 0; padding-left: 30px; }
.euro-country li span {font-weight: 700; }
.euro-country ._notice p { margin-top: 20px; margin-bottom: 0; padding: 10px 5px 0 5px; border-top: 1px solid rgba(255,255,255,.1); }